<!DOCTYPE html>
<html lang="en">

<head>
  <title>Trip Planner</title>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/header') %>
    <content>
      <%- include('partials/attention', {title: "let ai do the work while you travel" , pictureUrl: "/demo.gif" }) %>
        <div>
          <h2>Recent Itineraries</h2>
          <div class="spacer"></div>
          <div id="itineraries">
            <div class="boxwrap">
              <% trips.sort((a, b) => b.id - a.id); %> 
              <% trips.forEach(trip=> { %>
                <div class="box">
                  <div>
                    <h2 class="fancy"><a href="/trip?id=<%= trip.id %>">
                        <%= trip.name %>
                      </a></h2>
                    <p>
                      <%= trip.description %>
                    </p>
                  </div>
                  <div>
                    <img src="<%= trip.picture %>" alt="<%= trip.name %>" />
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>
        <div>
          <h2>Behind the Scenes</h2>
          <div class="spacer"></div>
          <p>First you enter the important information</p>
          <div class="boxwrap">
            <div class="box">
              <div>
                <div class="row">
                  <h2 class="fancy">where</h2>
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <p>
                  This can be as generic as "somewhere warm" and ChatGPT will find somewhere that suits your needs. For
                  example:
                </p>
                <ul>
                  <li>Tanzania</li>
                  <li>Somewhere warm</li>
                  <li>A short flight from New York</li>
                </ul>
              </div>
            </div>
            <div class="box">
              <div>
                <div class="row">
                  <h2 class="fancy">when</h2>
                  <i class="fa-solid fa-clock"></i>
                </div>
                <p>The timeframe for the trip, useful for deciding which things are most important and what's in season.
                </p>
              </div>
            </div>
            <div class="box">
              <div>
                <div class="row">
                  <h2 class="fancy">what</h2>
                  <i class="fa-solid fa-question"></i>
                </div>
                <p>
                  The most generic of the inputs - a description of what you want to do. From seeing one of the 7
                  wonders
                  of
                  the world, to exploring a rainforest, to exploring city nightlife.
                </p>
              </div>
            </div>
          </div>
          <p>
            Then like magic, ChatGPT will determine the optimal places based off of too many factors to count, and
            provide
            you with a custom itinerary
          </p>
        </div>
    </content>
    <%- include('partials/footer') %>
</body>
</html>