<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= trip.name.toUpperCase() %></title>
    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/header') %>
    <content>
      <!-- Main Trip Banner Section -->
      <%- include('partials/attention', {title: trip.name, pictureUrl: trip.picture}) %>

      <p><%= trip.description %></p>

      <!-- Loop through each day in the trip -->
      <% trip.days.forEach(day=> { %>
      <section class="day-section">
        <h2><%= day.name %> (<%= day.date %>)</h2>
        <div class="spacer"></div>
        <p><%= day.description %></p>

        <!-- Timeline for the day -->
        <div class="boxwrap">
          <% day.stops.forEach(stop=> { %>
          <div class="box">
            <div>
              <div class="row" style="align-items: flex-start; justify-content: space-between">
                <div>
                  <% if (stop.startTime == "-" && stop.endTime == "-") { %>
                    <!-- Do not include h3 at all -->
                  <% } else if (stop.startTime == "-") { %>
                    <h3>- Overnight</h3>
                  <% } else if (stop.endTime == "-") { %>
                    <h3><%= stop.startTime %> - Overnight</h3>
                  <% } else { %>
                    <h3><%= stop.startTime %> - <%= stop.endTime %></h3>
                  <% } %>                  
                  <h2><span class="fancy"> <%= stop.name %> </span></h2>
                </div>
                <a href="https://www.google.com/maps/dir/?api=1&destination=<%= stop.latitude %>,<%= stop.longitude %>"><i class="fa-solid fa-map"></i></a>
              </div>
              <p><%= stop.description %></p>
            </div>
            <% if (stop && stop.picture) { %>
            <div>
              <img src="<%= stop.picture %>" alt="<%= stop.name %>" />
            </div>
            <% } %>
          </div>
          <% }) %>
        </div>
      </section>
      <% }) %>
      <section>
        <h2>Overview</h2>
        <div class="spacer"></div>

        <!-- Map of trip -->
        <%- include('partials/map', {latitude: trip.latitude, longitude: trip.longitude, days: trip.days}) %>
      </section>
      <!-- Additional Information Section -->
      <section>
        <h2>Additional Information</h2>
        <div class="spacer"></div>
        <div class="boxwrap">
          <% trip.additional.forEach(add=> { %>
          <div class="box">
            <div>
              <h2><span class="fancy"> <%= add.title %> </span></h2>
              <ul>
                <% add.points.forEach(point=> { %>
                <li><%= point %></li>
                <% }) %>
              </ul>
            </div>
            <% if (add && add.picture) { %>
            <div>
              <img src="<%= add.picture %>" alt="<%= add.title %>" />
              <small> <%= add.picture.source %> </small>
            </div>
            <% } %>
          </div>
          <% }) %>
        </div>
      </section>
    </content>
    <%- include('partials/footer') %>
  </body>
</html>
